.poster {
    width: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card {
    background: white;
    margin: 10px;

    width: 350px;
    border-radius: 30px;

    position: relative;
}

.cardInfo {
    height: 300px;
    padding: 20px;
}

.title {
    height: 60px;
}

.title p {
    font-size: 20px;
    margin: 0;
}

.overview {
    height: 180px;
    display: block;
    overflow: clip;
    overflow: auto;
}

.overview p {
    margin: 0;
    color: #676f77;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stars {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*Light*/
.light {
    background: white;
    transition: 1s;
}

.light .title {
    background: none;
    color: black;
}

.light .date {
    background: none;
    color: black;
}

/*Dark*/
.dark   {
    background: #111111;
    transition: 1s;
}

.dark .title {
    background: none;
    color: white;
}

.dark .date {
    background: none;
    color: white;
}

.card:hover {
    cursor: default;
}

/* width */
.overview::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.overview::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.overview::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* Handle on hover */
.overview::-webkit-scrollbar-thumb:hover {
    background: #0083FF;
}


