.search {
    width: 500px;
    height: 30px;

    border: 1px gray solid;
    border-radius: 30px;
}

.logo {
    width: 100px;
    height: 100px;

    margin-left: 80px;
}

.header {
    height: 100px;
    background: white;
    border-bottom: black 1px solid;

    display: flex;
    align-items: center;
}

.btn {
    height: 20px;
    margin: 10px;
}

.searchForm {
    margin-left: 200px;
}