.header {
    height: 100px;
    background: white;
    border-bottom: black 1px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 120px;
}


.search {
    width: 500px;
    height: 30px;

    border: 1px gray solid;
    border-radius: 30px;

}

.themeOptions {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

}

.whiteSwitcher {
    width: 20px;
    height: 20px;
    border: gray 1px solid;
    background: white;
    border-radius: 5px;
    margin: 5px;
}

.blackSwitcher {
    width: 20px;
    height: 20px;
    border: gray 1px solid;
    background: black;
    border-radius: 5px;
    margin: 5px;
}

.whiteSwitcher:hover{
    cursor: pointer;
}
.blackSwitcher:hover{
    cursor: pointer
}
